<!DOCTYPE html>
<html>
<head>
  <script src="face-api.js"></script>
  <script src="js/commons.js"></script>
  <script src="js/faceDetectionControls.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
  <div id="navbar"></div>
  <div class="center-content page-container">

    <div class="progress" id="loader">
      <div class="indeterminate"></div>
    </div>
    <div style="position: relative" class="margin">
      <video onloadedmetadata="onPlay(this)" id="inputVideo" autoplay muted playsinline></video>
      <canvas id="overlay" />
    </div>

    <button id="playPauseButton" class="btn" onclick="setIsPlaying()">Pause</button>
  </body>

  <script>
  let forwardTimes = [];
  let isPlaying = true;
  let playTimeout;

  function setIsPlaying(){
     const videoEl = $('#inputVideo').get(0);
    if (isPlaying) {
      videoEl.pause();
      $('#playPauseButton').text('Play');
      clearTimeout(playTimeout);
    } else {
      videoEl.play();
      $('#playPauseButton').text('Pause');
      onPlay();
    }
    isPlaying = !isPlaying;
  }

    function updateTimeStats(timeInMs) {
      forwardTimes = [timeInMs].concat(forwardTimes).slice(0, 30)
      const avgTimeInMs = forwardTimes.reduce((total, t) => total + t) / forwardTimes.length
      $('#time').val(`${Math.round(avgTimeInMs)} ms`)
      $('#fps').val(`${faceapi.utils.round(1000 / avgTimeInMs)}`)
    }

    async function onPlay() {
      const videoEl = $('#inputVideo').get(0)

      console.log(isPlaying)
      
      // Check if the video is playing before executing the rest of the code
    // if (videoEl.paused || videoEl.ended || !isFaceDetectionModelLoaded()) {
    //   console.log(videoEl.paused)
    //   return;
    // }

      const options = getFaceDetectorOptions()
      const ts = Date.now()

      const result = await faceapi.detectSingleFace(videoEl, options)

      updateTimeStats(Date.now() - ts)

      if (result) {
        const canvas = $('#overlay').get(0)
        const dims = faceapi.matchDimensions(canvas, videoEl, true)
        faceapi.draw.drawDetections(canvas, faceapi.resizeResults(result, dims))
      }

      if (!videoEl.paused && !videoEl.ended) {
      playTimeout = setTimeout(() => onPlay()); // Store the timeout ID
    }
    }

    async function run() {
      // load face detection model
      await changeFaceDetector(TINY_FACE_DETECTOR)
      changeInputSize(128)

      // try to access users webcam and stream the images
      // to the video element
      const stream = await navigator.mediaDevices.getUserMedia({ video: {} })
      const videoEl = $('#inputVideo').get(0)
      videoEl.srcObject = stream

      onPlay();
    }

    function updateResults() {}

    $(document).ready(function() {
      renderNavBar('#navbar', 'webcam_face_detection')
      initFaceDetectionControls()
      run()
    })
  </script>
</body>
</html>